body{
    padding-left: 1em;
    font-family: sans-serif;
}

main{
    padding-left: 1em;
}

h1{
    color: #4caf50;
    text-shadow: 2px 2px 5px #81c784;
}

h2 {
    color: #00bcd4;
}

h3 {
    color: steelblue;
    margin-bottom: .5em;
}

a{
    color: limegreen;
    font-weight: bolder;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.message{
    color: darkorange;
    font-style: oblique;
    font-weight: bolder;
}

.error-message{
    color: red;
    font-style: oblique;
    font-weight: bolder;
}

img.abc-block {
    width: 50px;
    height: 50px;
    margin: 0 5px;
}

button {
    width: 100px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}